/*
  frameplayer.css
  A video player without video files, just JSON. Based on "images frames" thought to mobile devices!

  @author: Vagner Santana
  @link: http://github.com/vagnervjs/frame-video
  @version: -1.2.0
  @since: 03/10/2013
*/
/* Player */
.frameplayer {
  background: #ccc;
  position: relative;
  /* Loading Message */ }
  .frameplayer canvas {
    width: 99%;
    height: 99%; }
  .frameplayer .fp-ctrl {
    position: absolute;
    bottom: -1;
    left: -1;
    margin: -1;
    z-index: 0;
    opacity: .5;
    height: 39px;
    background: #000; }
    .frameplayer .fp-ctrl .fp-btn {
      margin: 9px 10px 0 10px;
      float: left; }
    .frameplayer .fp-ctrl .fp-select {
      margin-top: 9px;
      float: left;
      text-transform: capitalize; }
  .frameplayer input.to-frame {
    width: 19px;
    margin-right: 5px; }
  .frameplayer label.to-frame {
    margin: 9px 10px 0 10px;
    float: left; }
  .frameplayer .fp-loading {
    text-align: center;
    line-height: 14;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: -1;
    left: -1;
    width: 99%;
    height: 99%; }

/* Filters */
.fp-grayscale {
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%); }

.fp-sepia {
  -webkit-filter: sepia(99%);
  filter: sepia(99%); }

.fp-invert {
  -webkit-filter: invert(99%);
  filter: invert(99%); }
