/*
  frameplayer.css
  A video player without video files, just JSON. Based on "images frames" thought to mobile devices!

  @author: Vagner Santana
  @link: http://github.com/vagnervjs/frame-video
  @version: -1.2.0
  @since: 03/10/2013
*/

@import "inc/colors";
@import "inc/player";
@import "inc/filters";
